  @import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.body {
  margin: 0;
  padding: 0;    
}


/* Navigation bar styles */
.navbar {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(54, 53, 53, 0.877);
    color: #fff;
  }
  
  .navbar .logo img {
    width: 120px;
    height: auto;
    margin-left: 40px;
  }
  
  .navbar .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar .navbar-links ul li {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .navbar .navbar-links ul li a {
    text-decoration: none;
    color: #fefefe;
    padding: 7px 10px;
    
  }
  
  .navbar .navbar-links ul li a:hover {
    background-color: #939393;
    color: #050505;
  }
  .toggle-btn{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 100px;
}

 /* about */   
p {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #070707;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.image-container p .animate-from-left {
  opacity: 0;
}

@keyframes slideFromLeft {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-from-left {
  animation: slideFromLeft 1s ease-in-out forwards; 
  animation-delay: 0.4s; 
}

.image-pop-up-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.circular-img {
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.9s ease-in-out;
}


@keyframes popUp {
  from {
      transform: scale(0);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
.circular-img {
  border-radius: 35%;
  margin: 10px;
  width: 100px;
  height: 100px; 
}


/* team */
.team-section {
  margin-top: 5px;
  background-color: #e77676;
  padding: 20px;
  border-radius: 15px;

}

.team-section h2 {
  color: #000000;
  font-size: 54px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
}
.container .card{
  width: 300px;
  height: 410px;
  padding: 60px 30px;
  margin: 20px;
  background: #e0dddd;
  border-radius: 30px;
}
.container .card .content
{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.container .card .content .imgBx
{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   position: relative;
   margin-bottom: 20px;
   overflow: hidden;
}
.container .card .content .imgBx img
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.container .card .content .contentBx h4
{
   color: #212121;
   font-size: 1.7rem;
   font-weight: bold;
   text-align: center;
   letter-spacing: 1px;
}
.container .card .content .contentBx h5
{
   color: #626264;
   font-size: 1.2rem;
   font-weight: bold;
   text-align: center;
}
.container .card .content .icons-i
{
   margin-top: 20px;
}
.container .card .content .icons-i a
{
   text-decoration: none;
   color: #787879;
   font-size: 20px;
   margin: 10px;
   transition: color 0.4s;
}
.container .card .content .icons-i a:hover
{
   color: #0196e3;
}


/* Styles for the footer */

footer {
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;    
  }
  
  .footer-section {
    width: 200px;
    margin-bottom: 30px;
    
    
  }
  h3{
    color: #fff;
    font-size: 16px;
    align-items: center;
    justify-content: center;
  }
  
  .footer-section h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1.5px dotted #ffffff;
  }
  .footer-section h3 a{
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    color: #ffff;
    
  }
  .footer-section ul li a{
    color: white;
    text-decoration: none;
  }
  
  .social-media-links li {
    display: inline-block;
    margin-right: 10px;
    border-bottom: 1px dotted #ffffff;
    z-index: 1px;
  }
  .social-media-links li {
    fill: rgb(207, 114, 114);
  }
  
  .social-media-links a {
    color: #de7e7e;
    font-size: 20px;
}



/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    .toggle-btn{
      display: flex;
      
    }
    .logo {
        max-width: 50px;
    }
  
    nav ul li {
        margin-bottom: 10px;
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar .logo img {
      width: 80px;
    }
  
    .navbar .navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar .navbar-links ul {
      flex-direction: column;
      width: 100%;
    }
    .navbar .navbar-links li{
      text-align: center;
    }
  
    .navbar .navbar-links li a {
      margin-right: 8px;
      padding: .5rem 1rem;
    }
    .navbar-links.active{
      display: flex;
    }
    .container{
      justify-content: center;
    }
    .card {
      justify-content: center;
    }
    .content{
      justify-content: center;
    }


    .footer-section {
        width: 100%;
      }
}
