
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
  /* font-family: 'Poppins', sans-serif; */
  margin: 0%;padding: 0%;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
  font-size: 18px;
} 

html {
  scroll-behavior: smooth;
}
body {

  
  margin: 0;
  padding: 0;
  background-color: rgb(35, 34, 34);
}

/*------------------------ preloader code =----------------------*/
#preloader{
  background:#f4f4f4 url(/img/preloader.gif) no-repeat center center;
  background-size: 30%;
  height:100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
h5 {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.loading {
  animation: ellipsis 1.5s infinite;
}

@keyframes ellipsis {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.back-video{
  position:absolute;
  right: 10px;
  bottom: 10px;
  opacity: .60;
  z-index: -1;
}

/* moving text animation */
section.hey-1 {
  height: 20px; /* Adjust the height as needed */
  
}

.hey {
  overflow: hidden; /* Ensure the text doesn't overflow the container */
}

.hey h2 {
  animation: marquee 20s linear infinite; /* Adjust the duration and timing function as desired */
  white-space: nowrap; /* Prevent the text from wrapping */
  color: white;
  font-size: 30px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
    color: rgb(3, 255, 255); /* Initial color */
}
50% {
    color: rgb(8, 245, 115); /* Color after a certain point (50% in this example) */
}
100% {
    transform: translateX(-100%);
    color: red; /* Final color */
}
}



.box-0{
  padding: 10px;
  margin: 10px;
  display: flex;
  /* flex-wrap: wrap; */

}
.box-1 {
  float: left;
  
}

.box-2 {
  
  background-color: rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  align-self:center;
  min-height: 100px;
  background: rgb(35, 34, 34);
  overflow: hidden;
}
.box-1, .box-2 {
  flex: 50%;
  padding: 10px;
}
.earth{
  position: relative;
  width: 250px;
  height: 250px;
  background:#0588e4 url(img/earth.png);
  background-size:cover ;
  border-radius: 50%;
  box-shadow: inset 0 0 50px rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  animation: plane 12s linear infinite;
}
/* .earth:active{
  transform: scale(5);
}
.earth:active img{
  transform: scale(0.5);
} */
.earth::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: url(img/cloud.png);
  background-size: cover;
  animation: plane 18s linear infinite;
  z-index: 2;
}
.earth img{
  width: 100%;
  height: auto;
  z-index: 2;
  position: absolute;
  transition: 0.5s;
  pointer-events: none;
}
@keyframes plane {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 600px 0;
  }
  
}






#mapp{
  left: 0px;
  right: auto;
  width: 750px;
  height:400px;
  padding:50px; 
}
svg path {
  cursor: pointer;
}

#popup {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 125px; 
padding: 20px;
height: auto;
z-index:999;
}

#popupImg {
max-width: 100%;
max-height: 100%;
}


/* Navigation bar styles */
.navbar {
  background-color: rgb(255, 255, 255);
  position: sticky;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(54, 53, 53, 0.541);
  color: #fff;
}

.navbar .logo img {
  width: 120px;
  height: auto;
  margin-left: 40px;
}

.navbar .navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .navbar-links ul li {
  margin-right: 10px;
  font-size: 18px;
}

.navbar .navbar-links ul li a {
  text-decoration: none;
  color: #fefefe;
  padding: 7px 10px;
  
}

.navbar .navbar-links ul li a:hover {
  background-color: #939393;
  color: #050505;
}
.toggle-btn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 100px;
}


.hero {
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 200px 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

.btn {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
}

/* featured destination style css  */
.container .heading{
  text-align: center;
  padding-bottom: 15px;
  color:#fff;
  text-shadow: 0 5px 10px rgba(0,0,0,.2);
  font-size:  40px;
}

/* .destinations{
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply;
}

.destinations .grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.box {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.box.reveal {
  opacity: 1;
  transform: translateY(0);
}

.destinations .grid .box{
  position: relative;
  height: 20rem;
  overflow: hidden;
  border-radius: .5rem;
}

.destinations .grid .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.destinations .grid .box h3{
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-black);
  backdrop-filter: blur(.4rem);
  transition: .2s linear;
  opacity: 0;
}

.destinations .grid .box h3 span{
  font-size: 2.5rem;
  color: var(--white);
}

.destinations .grid .box:hover h3{
  opacity: 1;
} */
/* video ka screen  */
@media (min-aspect-ratio:16/9){
  .back-video{
    width: 100%;
    height: auto;
  }
  
}
@media (max-aspect-ratio:16/9){
  .back-video{
    width: auto;
    height: 100%;
  }
}
/* ending here */
/* Styles for the footer */

footer {
  background-color: rgb(35, 34, 34);
  padding: 30px 30px;
  border-radius: 5px;
  margin: 13px;
  font-size: 16px;
  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  border-bottom: 1px double #ffff;
  
}

.footer-section {
  width: 200px;
  margin-bottom: 30px;
  /* cursor: pointer; */
  
}

.footer-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px dotted #fff;
}
.footer-section h3{
  text-decoration: none;
  color: #ffff;
}
.footer-section h3 a{
  text-decoration: none;
  color: #fff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
  
}
.footer-section li, p{
  color: #fff;
}

.footer-section ul li {
  margin-bottom: 5px;
  
}
.footer-section ul li a{
  color: rgb(245, 245, 245);
  text-decoration: none;
}

.social-media-links li  {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  border-bottom: 1px dotted #e7e7e7;
  z-index: 1px;
}


.social-media-links a i:hover{
  color: red;
  font-size: 25px;
}
  
/* Media Queries for Responsive Design */

/* @media (min-width:200px) {
  #preloader {
    background-size: 100%;
    background-size: cover;
  }

  h5 {
    font-size: 16px;
  }
  
  
} */
@media (max-width:773px) {
  #preloader{
    background-size: 100%;
    background-size: cover;
    /* width: auto;
    height:auto ; */
  }
  #preloader h5 {
    font-size: 14px;
  }
  
  .toggle-btn{
    display: flex;
    
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .logo img {
    width: 80px;
  }

  .navbar .navbar-links {
    /* flex-basis: 100%;
    margin-top: 10px; */
    display: none;
    width: 100%;
  }

  .navbar .navbar-links ul {
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links li{
    text-align: center;
  }

  .navbar .navbar-links li a {
    margin-right: 8px;
    padding: .5rem 1rem;
  }
  .navbar-links.active{
    display: flex;
  }
  .menu-bar {
      flex-direction: column;
  }
  .logo {
    max-width: 50px;
}

nav ul li {
    margin-bottom: 10px;
}

  
  .hey h2 {
    font-size: 24px;
  }
  
.box-0{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;

}
/* .box-1 {
  float: left;
  
} */

.box-2 {
  float: left;
  background-color: rgb(23, 23, 23);
  
}
.box-1, .box-2 {
  flex: 50%;
  /* flex-basis: 50%; */
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr,1fr;
}


  #mapp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width:220px;
    height:150px;
    padding:10px;
    /* width: 135%;
    height: 100%; */
  }
  /* svg path{
    max-width: 100px;
    width: 200px;
    height:600px;
  } */

  
  .hero h1 {
      font-size: 24px;
  }
  

  .hero p {
      font-size: 15px;
  }

  .container{
    padding:20px;
}
.video-container {
  padding-bottom: 55%; /* Adjust the aspect ratio for smaller screens */
}
.box-0{
  padding: 50px;
  margin: 20px;
}
.box-1, .box-2 {
  /* padding: 30px; */
  flex-basis: 50%;
}

.heading{
  font-size: 10px;
}

.footer-section {
  width: 100%;
}
}